body{
  background-color: #8AEEF2;
  overflow-x: hidden;
} 
#title {
  position: absolute ; 
  font-family: 'Oswald', sans-serif ;
  font-size: 145px;
  left: 1%;
  top: -3%;
}

hr{
  margin-left: 70%;
  background: black;
  border: 1px solid black;
  height: 300%;
}

#description_1{
  margin-left: 10%;
  font-family: 'Oswald', sans-serif ;
  font-size: 30px;
  margin-top: -133%;
}

#description_2{
  margin-left: 20%;
  font-family: 'Oswald', sans-serif ;
  font-size: 30px;
  margin-top: 25%;
}
#image_1{
  margin-left: 42.5%;
  margin-top: -20% 
}

#image_2{
  margin-left: 42.5%;
  margin-top: -20% 
}

#description_3{
  margin-left: 25%;
  font-family: 'Oswald', sans-serif ;
  font-size: 30px;
  margin-top: 25%;
}
#image_3{
  margin-left: 42.5%;
  margin-top: -20% 
}